body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
  margin: 0 auto;
}

:root {
  --color-link: #2e2f42;
  --active-link: #404bbf;
  --active-bg-btn: #404bbf;
  --color-title: #2e2f42;
  --color-text: #434455;
  --margin-gap: 24px;
  --border-color: #e7e9fc;
  --hero-bg-btn: #4d5ae5;
  --customer-svg: #8e8f99;
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =================== Componets =================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
  border: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 8px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =================== /Componets =================== */

/* =================== Header nav =================== */

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-inner {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.header-log-span {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-link);
  padding: 24px 0;

  position: relative;
  transition: color var(--cubic);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--active-link);
}

.menu-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--active-link);
  transform-origin: right;
}

.menu-link:not(.current)::after {
  transform: scaleX(0);
  transition: transform var(--cubic);
}

.menu-link:not(.current):hover::after,
.menu-link:not(.current):focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--cubic);
}
.address-link:hover,
.address-link:focus {
  color: var(--active-link);
}

.current,
.menu-link:hover,
.menu-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--active-link);
}

/* =================== /Header nav =================== */

/* =================== Hero =================== */
.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #464766;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--hero-bg-btn);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-bg-btn);
}
/* =================== /Hero =================== */

/* =================== Feature =================== */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature-list {
  display: flex;
  gap: var(--margin-gap);
}
.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}
.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
}

/* =================== /Feature =================== */

/* =================== Our Works =================== */
.our-works {
  padding-bottom: 120px;
}
.work-list {
  display: flex;
  gap: var(--margin-gap);
}
.work-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* =================== /Our Works =================== */

/* =================== Team =================== */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: var(--margin-gap);
}
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  text-align: center;
  padding: 32px 0;
}
.team-name,
.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: var(--margin-gap);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--cubic);
}

.social-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--active-link);
}

/* =================== /Team =================== */

/* =================== Customers =================== */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customer-list {
  display: flex;
  gap: var(--margin-gap);
}
.customer-item {
  flex-basis: calc((100% - 120px) / 6);
}
.customer-link {
  color: var(--customer-svg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid var(--customer-svg);
  border-radius: 4px;

  transition: color var(--cubic), border-color var(--cubic);
}
.customer-link:hover,
.customer-link:focus {
  color: var(--active-link);
  border-color: var(--active-link);
}

.customer-icon {
  fill: currentColor;
}
/* =================== /Customers =================== */

/* =================== Portfolio =================== */
.card-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  gap: var(--margin-gap);
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  transition: background-color var(--cubic), color var(--cubic),
    box-shadow var(--cubic), border-color var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--active-bg-btn);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-gap);
}
.card-item {
  flex-basis: calc((100% - 48px) / 3);
}
.card-link {
  display: block;
  transition: box-shadow var(--cubic);
}
.wrap {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform var(--cubic);

  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
}

.card-link:hover,
.card-link:focus,
.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translate(0, 0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.card-title {
  margin-bottom: 8px;
}
/* =================== /Portfolio =================== */

/* =================== Footer =================== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}
.footer1 {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-log-span {
  color: #f4f4fd;
}

.footer1 .item-text {
  max-width: 264px;
  color: #f4f4fd;
}
.footer2 .item-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer .social-list {
  gap: 16px;
}
.footer .social-link {
  padding: 8px;
}

.footer .social-link {
  transition: background-color var(--cubic);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
/* =================== /Footer =================== */

/* =================== Modal Window =================== */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--cubic), visibility var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--cubic), border var(--cubic);
}
.close-btn-icon {
  fill: #2e2f42;
  transition: fill var(--cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus .close-btn-icon,
.modal-btn:hover .close-btn-icon {
  fill: #fff;
}
/* =================== /Modal Window =================== */
